.container {
    text-align: center;
    background-color: #CBCBCB;
    border: 2px solid black;
    height: 350px;
    margin: 210px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 50px;
}

#btnReestablecer {
    width: 340px;
    height: 80px;
    background-color: #B8BE5B;
    border: 2px solid black;
    font-size: 25px;
    text-align: center;
}